<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<link rel="stylesheet" href="img/sprite.css" />
	<link rel="stylesheet" href="css/blueprint/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="css/blueprint/print.css" type="text/css" media="print">
	<!--[if lt IE 8]>
		<link rel="stylesheet" href="css/blueprint/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
	<title>NSFW Enterprises, LLC - {% block title %}My amazing site{% endblock %}</title>
</head>
<body>
	<div class="container">
		<div id="header" class="span-24 last">
			<h1>Welcome to NSFW Enterprises, LLC</h1>
		</div>
		<div id="sidebar" class="span-4">
			{% block sidebar %}
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/admin/">Admin</a></li>
				</ul>
			{% endblock %}
		</div>
		<div id="content" class="span-16">
			<h2>Content</h2>
			{% block content %}{% endblock %}
		</div>
		<div id="rightSidebar" class="span-4 last">
		</div>
	</div>
</body>
</html>
